@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-script: "Playfair Display SC", serif;
  --font-special : "Kaushan Script", cursive;
  --font-nav :  "Inter", sans-serif;
  --font-big : "Bungee", sans-serif;
    
}